main .display-wrapper {
  min-height: 70vh;
  /* margin-bottom: 100px; */
  padding-bottom: 50px;
}

#myChart {
  width: 200px !important;
  height: 400px !important;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 50px;
  /* padding-bottom: 100px; */
}

#myChart-base {
  width: 700px !important;
  height: 600px !important;
  margin-left: 50px;
  margin-right: 50px;
}

canvas {
  display: inline-block !important;
  padding: 20px;
}

#results-display {
  /* margin: 150px 0 0 0; */
  padding-top: 30px;
  margin: 150px auto 0 auto;
  text-align: center;
  border-top: 2px solid #86ff83;
}

.other-attributes {
  width: 400px;
  display: inline-block;
  margin-left: 30px;
  padding-bottom: 120px;
  text-align: left;
}

.other-attributes h4 {
  font-size: 1.3rem;
  color: #ff5d5d;
}

.other-attributes li {
  margin-top: 10px;
  font-size: 0.9rem;
}


