@import 'reset.css';

/* ===================== */
/* INDEX PAGE */
/* ===================== */

body {
  font-family: 'Lato', 'sans-serif';
  margin: 0 auto;
  background-image: url(../images/wall-for-project2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  margin-top: 1%;
}

nav ul li {
  display: inline-block;
  width: 33%;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #86ff83;
}

nav a:hover {
  color: #FF5D5D;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #FF5D5D;
}

table {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  box-sizing: border-box;
  padding-top: 50px;
  text-shadow: 4px 6px 12px rgba(145, 145, 145, 0.59);
}

table tr th {
  font-size: 120px;
  text-align: center;
  padding: 5px 10px;
  font-weight: bold;
  color: #ff2d2a;
}

table tr td {
  text-align: center;
  font-size: 28px;
  color: #ff2d2a;
}

footer.index {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 10px;
}

section.acid button {
  margin-top: 2%;
  margin-left: 44%;
  font-size: 20px;
  background-color: #303030b0;
  color: #86ff83;
  border-radius: 10px;
  padding: 10px;
  border-color: rgb(31, 31, 31);
  text-shadow: -4px 2px 14px rgb(107, 107, 107);
  animation: pulse 4s infinite;
  outline: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 4px 0 rgba(44, 204, 44, 0.4);
  }
  70% {
      box-shadow: 0 0 6px 10px rgba(44, 204, 44, 0.205);
  }
  100% {
      box-shadow: 0 0 10px 0 rgba(44, 204, 44, 0.05);
  }
}

section.acid button:hover {
  background-color: rgba(255, 255, 255, 0.356);
}

.enter-the-pit a{
  text-decoration: none;
  color: #86ff83;
}

.enter-the-pit a:hover {
  color: #FF5D5D;
}
.create-button {
  float: right;
}



/* ===================== */
/* DISPLAY PAGE */
/* ===================== */



main .form-wrapper {
  max-width: 1000px;
  margin: 40px auto 100px auto;
  overflow: hidden;
}

main .intro-header {
  color: #FF5D5D;
  width: 730px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 70px auto 20px auto;
  font-family: 'Special Elite', cursive;
}

input#name-select:focus {
  outline: none;
  border: 5px solid #86FF83;
}

main .form-wrapper label {
  font-size: 1.5rem;
}

main .form-wrapper input {
  margin-left: 79px;
  height: 35px;
  width: 200px;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0 10px;
  box-sizing: border-box;
}

main .form-wrapper select {
  height: 35px;
  width: 200px;
  margin-left: 20px;
  font-size: 1.1rem;
}

main #submit-form {
  height: 40px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  width: 85%;
  /* padding: 20px 10px; */
}

main #submit-form:hover {
  background: #fff;
  border: 1px solid #ff5d5d;
  color: #ff5d5d;
}

main #submit-form:focus, select:focus {
  outline: none;
  border: 5px solid #86FF83;
}

main .create-button, main a {
  border-radius: 5px;
  background: #ff5d5d;
  text-decoration: none;
  color: #fff;
  margin: 80px 100px 0 auto;
  text-align: center;
  cursor: pointer;
  padding: 15px 25px;
  letter-spacing: 1.2px;
  font-weight: 900;
}

main .create-button:hover {
  background: #fff;
  border: 1px solid #ff5d5d;
  color: #ff5d5d;
}

main input#submit-form, main p.create-button {
  background: #FF5D5D;
  color: #fff;
  border: none;
  font-weight: 900;
  letter-spacing: 1.2px;
}

main .display-wrapper {
  background: rgba(56, 56, 56, 0.7);
  padding-top: 50px;
}

main .display-wrapper .created-wrapper {
  width: 600px;
  margin: 50px auto !important;
}

main .display-wrapper .created-wrapper button {
  float: right;
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  margin-top: -5px;
  cursor: pointer;
}

.created-wrapper .selectMonster {
  background: #86FF83;
  letter-spacing: 1.2px;
  font-weight: 900;
  /* color: #fff; */
}

.created-wrapper .remove-monster {
  background: #fff;
  color: #FF5D5D;
  font-weight: 900;
}

main .display-wrapper .created-wrapper #created-list li {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 20px 30px;
  margin-top: 20px;
  background: rgba(238, 118, 118, 0.4);
  color: #fff;
  /* font-size: 1rem; */
}

main .display-wrapper .created-wrapper h3 {
  color: #FF5D5D;
  font-size: 2.3rem;
  font-family: 'Special Elite', cursive;
  font-weight: 900;
  width: 325px;
  margin: 20px auto;
  padding: 15px 25px;
  background: #fff;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: 5px solid #86FF83;
}

main #create-enemy {
  width: 500px;
  display: inline-block;
  padding-right: 50px;
  border-right: 5px solid #86FF83;
}

main form label {
  color: #fff;
}

main form .form-input {
  display: block;
  margin: 20px 0;
}

.ghost {
  display: none;
}

.required {
  color: red;
  font-size: 1.5rem;
}


.green-attr {
  color: #86FF83;
  /* font-weight: 900; */
  font-size: 1.4rem;
}


main #results-display .other-attributes {
  /* border: 1px solid #db001d; */
  height: 300px;
  color: #fff;
  padding: 10px;
}

.other-attributes h4 {
  font-size: .8rem;
}

/* ===================== */
/* ABOUT US */
/* ===================== */

.mission-statement {
  margin-top: 7%;
  margin-left: 5%;
  margin-bottom: 2%;
}
.mission-statement h3 {
  font-size: 24px;

  color: #FF5D5D;
  padding-bottom: 15px;
}

.mission-statement span {
  font-weight: bold;
  font-size: 32px;
}

.mission-statement pre {
  font-size: 18px;
}

.about-us {
  box-sizing: border-box;
  color: #86FF83;
  margin-left: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  margin-top: 3%;
  float: left;
  width: 25%;
  padding: 10px;
  background-color: #3131318c;
  border-radius: 8px;
  margin-left: 4%;
}
.column img {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  box-shadow: 10px 9px 105px -19px rgba(219,0,29,0.5);
  border: 1px solid black;
}

.column h2 {
  font-size: 30px;
  text-align: center;
  border-bottom: 3px solid black;
  border-radius: 8px;
  padding-bottom: 5px;
  padding-top: 20px;
  color: #db001d;
}

.bio {
  font-size: 17px;
  background-color: #31313162;
  border: 1px solid black;
  border-radius: 8px;
  line-height: 20px;
}

/* ===================== */
/* ABOUT US END*/
/* ===================== */

section.container {
  height: 50%;
  /* max-width: 1200px; */
  /* text-align: center; */
}

#createNewMonster {
  margin: 200px auto 100px auto;
  max-width: 800px;
}

.container form {
  margin: 0 auto;
}

section.newMonster div {
  display: inline-block;
  width: 22.5%;
}

div label.createInput {
  display: block;
  float: right;
  clear: both;
  color: white;
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 1.3rem;
}

div input.createInput {
  display: block;
  float: right;
  clear: both;
  width: 30%;
  border-radius: 5px;
  height: 30px;
  font-size: 1.1rem;
}

div label.textInput {
  display: block;
  float: left;
  clear: both;
  color: white;
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 1.3rem;
}

div input.textInput {
  display: block;
  float: left;
  clear: both;
  width: 25%;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
}

div textarea {
  display: block;
  float: left;
  clear: both;
  width: 25%;
  height: 100px;
  margin-top: 5px;
}
section.newMonster div.notes {
  width: 100%;
}

input.createInput:focus {
  outline: none;
  border: 5px solid #00FF03;

}

textarea:focus {
  outline: none;
  border: 5px solid #00FF03;
}

section.createButton button {
  font-size: 20px;
  background-color: #FF5D5D;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1.2px;
  border-radius: 5px;
  padding: 10px;
  border-color: rgb(31, 31, 31);
  text-shadow: -4px 2px 14px rgb(0, 0, 0);
  margin: 100px auto;
  margin-left: 50px;
  width: 300px;
  cursor: pointer;
}

section.createButton button:hover {
  background-color: #fff;
  color: #FF5D5D;
}

/* =================== */
/* FOOTER */
/* =================== */

footer {
  color: #FF5D5D;
  height: 20vh;
  text-align: center;
  border-top: 2px solid #86FF83;
}

footer h5 {
  font-size: 1.3rem;
  margin-top: 100px;
  margin-bottom: 20px;
}