@import 'reset.css';

body {
  font-family: 'Lato', 'sans-serif';
  margin: 0 auto;
  background-image: url(../images/wall-for-project.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul li {
  display: inline-block;
  border: 1px solid black;
  width: 33%;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  
}

a {
  text-decoration: none;
  color: #A30A08;
}

table {
  margin: 20px auto;
  margin-bottom: 0px;
}

table tr th {
  font-size: 100px;
  text-align: center;
  padding: 1px 5px;
  font-weight: bold;
  color: #DB001D;
}

table tr td {
  text-align: center;
  font-size: 25px;
  color: #DB001D;
}

footer.index {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 10px;
}

section.acid {
  background-image: url("https://files.slack.com/files-pri/T3F4FFV5F-FHKAWF9BN/maxresdefault.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 45vh;
}

section.acid button {
  margin-top: 10%;
  margin-left: 42%;
  font-size: 22px;
  background-color: #303030;
  color: #DB001D;
  border-radius: 25px;
  padding: 15px;
}

section.austin {
  color: #DB001D;
}

section.skylar {
  color: #DB001D;
}

section.alexander {
  color: #DB001D;
}