@import 'reset.css';

body {
  font-family: 'Lato', 'sans-serif';
  margin: 0 auto;
  background-image: url(../images/wall-for-project.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul li {
  display: inline-block;
  width: 33%;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  
}

a {
  text-decoration: none;
  color: #A30A08;
}

table {
  margin: 20px auto;
  margin-bottom: 0px;
}

table tr th {
  font-size: 100px;
  text-align: center;
  padding: 1px 5px;
  font-weight: bold;
  color: #DB001D;
}

table tr td {
  text-align: center;
  font-size: 25px;
  color: #DB001D;
}

footer.index {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 10px;
}

section.acid {
  background-image: url(../images/maxresdefault.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 45vh;
}

section.acid button {
  margin-top: 10%;
  margin-left: 42%;
  font-size: 22px;
  background-color: #303030;
  color: #DB001D;
  border-radius: 25px;
  padding: 15px;
}

section.austin {
  color: #DB001D;
}

section.skylar {
  color: #DB001D;
}

section.alexander {
  color: #DB001D;
}

.about-us {
  box-sizing: border-box;
  color: #00FF03;
  margin-left: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  margin-top: 3%;
  float: left;
  width: 30%;
  padding: 10px;
}
.column img {
  margin-left: 15%;
  margin-bottom: 2%;
  -webkit-box-shadow: 10px 10px 85px 3px rgba(219,0,29,1);
  -moz-box-shadow: 10px 10px 85px 3px rgba(219,0,29,1);
  box-shadow: 10px 10px 85px 3px rgba(219,0,29,1);
}

.column h2 {
  font-size: 36px;
  text-align: center;
}

section.container {
  height: 49vh;
}

section.newMonster div {
  display: inline-block;
  width: 33%;
}

div label {
  display: block;
  float: left;
  clear: both;
  color: white;
  padding-bottom: 5px;
  padding-top: 10px;
}

div input {
  display: block;
  float: left;
  clear: both;
  width: 95%
}

div textarea {
  display: block;
  float: left;
  clear: both;
  width: 97.5%;
  height: 100px;
}

section.newMonster div.notes {
  width: 100%;
}